/* attention highlights gradations */

.attn5 {
    background-color: #98b7f8e0 !important;
}

.attn4 {
    background-color: #98b7f8c0 !important;
}

.attn3 {
    background-color: #98b7f8a0 !important;
}

.attn2 {
    background-color: #98b7f880 !important;
}

.attn1 {
    background-color: #98b7f860 !important;
}

mark.my-invisible {
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
}

mark.my-invisible:hover {
  background-color: #98b7f8e0;
}

mark.killed:hover {
  background-color: transparent !important;
  cursor: text !important;
}
